allarmi_flows.json
[{"id":"4f49d58a.f93d04","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"26647d42.f5bc02","type":"inject","z":"4f49d58a.f93d04","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"onceDelay":"5","x":130,"y":420,"wires":[["7bb55a39.247e4c","146179ba.59ef86","4f28401c.5ae3b8","7a7961e4.1f6178","25b9110b.832b46","2468fd79.65fc6a","310f209e.4446f8","75b74f0d.d431c8","d0bef083.bd00d"]]},{"id":"7bb55a39.247e4c","type":"OPCUA-IIoT-Node","z":"4f49d58a.f93d04","injectType":"read","nodeId":"ns=3;s=\"Server\".\"ALLARME_ABIL\"","datatype":"i=Boolean","value":"","name":"","topic":"","showErrors":false,"x":310,"y":260,"wires":[["7e716121.96b67"]]},{"id":"7e716121.96b67","type":"OPCUA-IIoT-Read","z":"4f49d58a.f93d04","attributeId":"13","maxAge":1,"depth":1,"connector":"d99068dd.a91d08","name":"","justValue":true,"showStatusActivities":false,"showErrors":true,"parseStrings":false,"historyDays":1,"x":460,"y":260,"wires":[["8cf83b95.8dbf4"]]},{"id":"8cf83b95.8dbf4","type":"function","z":"4f49d58a.f93d04","name":"","func":"value = msg.payload[0].value.value;\nmsg.payload = value ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["4fa7b05f.f834a8","4533c17f.57ffb8"]]},{"id":"4fa7b05f.f834a8","type":"debug","z":"4f49d58a.f93d04","name":"ABIL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":220,"wires":[]},{"id":"146179ba.59ef86","type":"OPCUA-IIoT-Node","z":"4f49d58a.f93d04","injectType":"read","nodeId":"ns=3;s=\"Server\".\"ALLARME_LIVELLO\"","datatype":"i=Boolean","value":"","name":"","topic":"","showErrors":false,"x":310,"y":340,"wires":[["2d8a85ff.15eb5a"]]},{"id":"2d8a85ff.15eb5a","type":"OPCUA-IIoT-Read","z":"4f49d58a.f93d04","attributeId":"13","maxAge":1,"depth":1,"connector":"d99068dd.a91d08","name":"","justValue":true,"showStatusActivities":false,"showErrors":true,"parseStrings":false,"historyDays":1,"x":460,"y":340,"wires":[["cda28b25.24f658"]]},{"id":"cda28b25.24f658","type":"function","z":"4f49d58a.f93d04","name":"","func":"value = msg.payload[0].value.value;\nmsg.payload = value ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["29df9315.44741c","aa5eaabe.dd82c8"]]},{"id":"29df9315.44741c","type":"debug","z":"4f49d58a.f93d04","name":"LIVELLO","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":760,"y":300,"wires":[]},{"id":"4f28401c.5ae3b8","type":"OPCUA-IIoT-Node","z":"4f49d58a.f93d04","injectType":"read","nodeId":"ns=3;s=\"Server\".\"ALLARME_TEMPERATURA\"","datatype":"i=Boolean","value":"","name":"","topic":"","showErrors":false,"x":310,"y":420,"wires":[["8df24eb3.7f7a38"]]},{"id":"8df24eb3.7f7a38","type":"OPCUA-IIoT-Read","z":"4f49d58a.f93d04","attributeId":"13","maxAge":1,"depth":1,"connector":"d99068dd.a91d08","name":"","justValue":true,"showStatusActivities":false,"showErrors":true,"parseStrings":false,"historyDays":1,"x":460,"y":420,"wires":[["2d342bed.869e24"]]},{"id":"2d342bed.869e24","type":"function","z":"4f49d58a.f93d04","name":"","func":"value = msg.payload[0].value.value;\nmsg.payload = value ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":420,"wires":[["56da4f91.b77cf8","7fe9525.01d35ac"]]},{"id":"56da4f91.b77cf8","type":"debug","z":"4f49d58a.f93d04","name":"TEMPERATURA","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":380,"wires":[]},{"id":"7a7961e4.1f6178","type":"OPCUA-IIoT-Node","z":"4f49d58a.f93d04","injectType":"read","nodeId":"ns=3;s=\"Server\".\"ALLARME_SOTTOPRESSIONE\"","datatype":"i=Boolean","value":"","name":"","topic":"","showErrors":false,"x":310,"y":500,"wires":[["3eddb1b7.2e05be"]]},{"id":"3eddb1b7.2e05be","type":"OPCUA-IIoT-Read","z":"4f49d58a.f93d04","attributeId":"13","maxAge":1,"depth":1,"connector":"d99068dd.a91d08","name":"","justValue":true,"showStatusActivities":false,"showErrors":true,"parseStrings":false,"historyDays":1,"x":460,"y":500,"wires":[["8b9d534f.65cd78"]]},{"id":"8b9d534f.65cd78","type":"function","z":"4f49d58a.f93d04","name":"","func":"value = msg.payload[0].value.value;\nmsg.payload = value ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[["277a4429.cba1a4","2a208109.01219e"]]},{"id":"277a4429.cba1a4","type":"debug","z":"4f49d58a.f93d04","name":"SOTTOPRESSIONE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":460,"wires":[]},{"id":"25b9110b.832b46","type":"OPCUA-IIoT-Node","z":"4f49d58a.f93d04","injectType":"read","nodeId":"ns=3;s=\"Server\".\"ALLARME_PRESSIONE\"","datatype":"i=Boolean","value":"","name":"","topic":"","showErrors":false,"x":310,"y":580,"wires":[["9a70353c.c082a8"]]},{"id":"9a70353c.c082a8","type":"OPCUA-IIoT-Read","z":"4f49d58a.f93d04","attributeId":"13","maxAge":1,"depth":1,"connector":"d99068dd.a91d08","name":"","justValue":true,"showStatusActivities":false,"showErrors":true,"parseStrings":false,"historyDays":1,"x":460,"y":580,"wires":[["3da09272.704ace"]]},{"id":"3da09272.704ace","type":"function","z":"4f49d58a.f93d04","name":"","func":"value = msg.payload[0].value.value;\nmsg.payload = value ? 1 : 0;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":580,"wires":[["f12dc66c.12076","89942e0a.1f0e18"]]},{"id":"f12dc66c.12076","type":"debug","z":"4f49d58a.f93d04","name":"SOVRAPRESSIONE","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":540,"wires":[]},{"id":"4533c17f.57ffb8","type":"ui_gauge","z":"4f49d58a.f93d04","name":"","group":"99b97cad.3dd27","order":0,"width":"5","height":"5","gtype":"gage","title":"Abil","label":"","format":"","min":0,"max":"1","colors":["#e6e6e6","#e6e600","#e6e600"],"seg1":"","seg2":"","x":1070,"y":260,"wires":[]},{"id":"aa5eaabe.dd82c8","type":"ui_gauge","z":"4f49d58a.f93d04","name":"","group":"a3a4eb4c.305d98","order":0,"width":"5","height":"5","gtype":"gage","title":"Livello","label":"","format":"","min":0,"max":"1","colors":["#e6e6e6","#e66700","#e66700"],"seg1":"","seg2":"","x":1070,"y":340,"wires":[]},{"id":"7fe9525.01d35ac","type":"ui_gauge","z":"4f49d58a.f93d04","name":"","group":"a3a4eb4c.305d98","order":0,"width":"5","height":"5","gtype":"gage","title":"Temperatura","label":"","format":"","min":0,"max":"1","colors":["#e6e6e6","#e66700","#e66700"],"seg1":"","seg2":"","x":1090,"y":420,"wires":[]},{"id":"2a208109.01219e","type":"ui_gauge","z":"4f49d58a.f93d04","name":"","group":"a3a4eb4c.305d98","order":0,"width":"5","height":"5","gtype":"gage","title":"Sottopressione","label":"","format":"","min":0,"max":"1","colors":["#e6e6e6","#e66700","#e66700"],"seg1":"","seg2":"","x":1100,"y":500,"wires":[]},{"id":"89942e0a.1f0e18","type":"ui_gauge","z":"4f49d58a.f93d04","name":"","group":"386c9e76.31d9d2","order":0,"width":"5","height":"5","gtype":"gage","title":"Sovrapressione","label":"","format":"","min":0,"max":"1","colors":["#e6e6e6","#e60000","#e60000"],"seg1":"","seg2":"","x":1100,"y":580,"wires":[]},{"id":"384547bc.c79fc8","type":"ui_text","z":"4f49d58a.f93d04","group":"a31f490f.3daac","order":1,"width":"4","height":"3","name":"Nome Stato","label":"","format":"{{msg.payload}}","layout":"row-left","x":1090,"y":180,"wires":[]},{"id":"2468fd79.65fc6a","type":"OPCUA-IIoT-Node","z":"4f49d58a.f93d04","injectType":"read","nodeId":"ns=3;s=\"Server\".\"Nome_Stato\"","datatype":"i=STRING","value":"","name":"","topic":"","showErrors":false,"x":310,"y":180,"wires":[["e78141e8.dc2368"]]},{"id":"e78141e8.dc2368","type":"OPCUA-IIoT-Read","z":"4f49d58a.f93d04","attributeId":"13","maxAge":1,"depth":1,"connector":"d99068dd.a91d08","name":"","justValue":true,"showStatusActivities":false,"showErrors":true,"parseStrings":false,"historyDays":1,"x":459,"y":180,"wires":[["9d6ca7bc.52f97"]]},{"id":"9d6ca7bc.52f97","type":"function","z":"4f49d58a.f93d04","name":"","func":"value = msg.payload[0].value.value;\nmsg.payload = value;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":180,"wires":[["384547bc.c79fc8"]]},{"id":"d0bef083.bd00d","type":"OPCUA-IIoT-Node","z":"4f49d58a.f93d04","injectType":"read","nodeId":"ns=3;s=\"Server\".\"Temperatura\"","datatype":"i=Float","value":"","name":"","topic":"","showErrors":false,"x":310,"y":780,"wires":[["d1a04403.824ac"]]},{"id":"d1a04403.824ac","type":"OPCUA-IIoT-Read","z":"4f49d58a.f93d04","attributeId":"13","maxAge":1,"depth":1,"connector":"d99068dd.a91d08","name":"","justValue":true,"showStatusActivities":false,"showErrors":true,"parseStrings":false,"historyDays":1,"x":459,"y":780,"wires":[["edf49de2.6b9158"]]},{"id":"edf49de2.6b9158","type":"function","z":"4f49d58a.f93d04","name":"","func":"value = msg.payload[0].value.value;\nmsg.payload = value.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":780,"wires":[["86efff0e.45a9b"]]},{"id":"75b74f0d.d431c8","type":"OPCUA-IIoT-Node","z":"4f49d58a.f93d04","injectType":"read","nodeId":"ns=3;s=\"Server\".\"Pressione\"","datatype":"i=Float","value":"","name":"","topic":"","showErrors":false,"x":310,"y":720,"wires":[["3d98b0d2.fb30a8"]]},{"id":"3d98b0d2.fb30a8","type":"OPCUA-IIoT-Read","z":"4f49d58a.f93d04","attributeId":"13","maxAge":1,"depth":1,"connector":"d99068dd.a91d08","name":"","justValue":true,"showStatusActivities":false,"showErrors":true,"parseStrings":false,"historyDays":1,"x":459,"y":720,"wires":[["3fea37a2.53513"]]},{"id":"3fea37a2.53513","type":"function","z":"4f49d58a.f93d04","name":"","func":"value = msg.payload[0].value.value;\nmsg.payload = value.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":720,"wires":[["58209a7e.045a44"]]},{"id":"310f209e.4446f8","type":"OPCUA-IIoT-Node","z":"4f49d58a.f93d04","injectType":"read","nodeId":"ns=3;s=\"Server\".\"Livello\"","datatype":"i=Float","value":"","name":"","topic":"","showErrors":false,"x":310,"y":660,"wires":[["af0b0378.bd3c28"]]},{"id":"af0b0378.bd3c28","type":"OPCUA-IIoT-Read","z":"4f49d58a.f93d04","attributeId":"13","maxAge":1,"depth":1,"connector":"d99068dd.a91d08","name":"","justValue":true,"showStatusActivities":false,"showErrors":true,"parseStrings":false,"historyDays":1,"x":459,"y":660,"wires":[["eafcc0e2.173d"]]},{"id":"eafcc0e2.173d","type":"function","z":"4f49d58a.f93d04","name":"","func":"value = msg.payload[0].value.value;\nmsg.payload = value.toFixed(3);\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":660,"wires":[["7a4b1946.6f9ab"]]},{"id":"7a4b1946.6f9ab","type":"ui_text","z":"4f49d58a.f93d04","group":"a31f490f.3daac","order":1,"width":0,"height":0,"name":"Livello","label":"Livello [L]: ","format":"{{msg.payload}}","layout":"row-left","x":1070,"y":660,"wires":[]},{"id":"58209a7e.045a44","type":"ui_text","z":"4f49d58a.f93d04","group":"a31f490f.3daac","order":0,"width":0,"height":0,"name":"Pressione","label":"Pressione [bar]: ","format":"{{msg.payload}}","layout":"row-left","x":1080,"y":720,"wires":[]},{"id":"86efff0e.45a9b","type":"ui_text","z":"4f49d58a.f93d04","group":"a31f490f.3daac","order":3,"width":0,"height":0,"name":"Temperatura","label":"Temperatura [°C]: ","format":"{{msg.payload}}","layout":"row-left","x":1090,"y":780,"wires":[]},{"id":"d99068dd.a91d08","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://192.168.200.2:4840","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"Server_allarmi","showErrors":true,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":true,"autoSelectRightEndpoint":true,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"99b97cad.3dd27","type":"ui_group","z":"","name":"","tab":"908761f5.fbef08","disp":true,"width":"6","collapse":false},{"id":"a3a4eb4c.305d98","type":"ui_group","z":"","name":"","tab":"908761f5.fbef08","disp":true,"width":"6","collapse":false},{"id":"386c9e76.31d9d2","type":"ui_group","z":"","name":"","tab":"908761f5.fbef08","disp":true,"width":"6","collapse":false},{"id":"a31f490f.3daac","type":"ui_group","z":"","name":"Stato","tab":"908761f5.fbef08","disp":true,"width":"6","collapse":false},{"id":"908761f5.fbef08","type":"ui_tab","z":"","name":"Maturazione e Condizionamento","icon":"dashboard","disabled":false,"hidden":false}]